# ATTENTION : il est nécessaire d'avoir un fichier .env situé au même endroit que le fichier docker-compose.yml
# pour que les variables ${MA-VARIABLE} soit interpolées dans le fichier docker-compose.yml.
#
# Hostname get from host
HOSTNAME=${HOSTNAME}

# Hostname for InfluxDB container
HOSTNAME_INFLUXDB=influxdb-paca-sinp