/* GÉNÉRAL */
:root {
	--primary: #A10D59;
	--secondary: #99B931;
}
a {
	color: #A10D59;
}
a:hover {
	color: #99B931;
}
a.btn.btn-default:hover{
	background-color: #EFE0E9;
}

/* TOOLBAR */
#app-toolbar {
	background:
		linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 100%),
		url("custom/images/toolbar-bg.png") right bottom/cover no-repeat !important;
}
#logo-structure {
	display: none;
}
#appName h3 {
	color: #A10D59;
	font-weight: 900;
	font-size: 30px;
	line-height: 48px;
}
