# ATTENTION : il est nécessaire d'avoir un fichier .env situé au même endroit que le fichier docker-compose.yml
# pour que les variables ${MA-VARIABLE} soit interpolées dans le fichier docker-compose.yml.
#
# Hostname get from host
HOSTNAME="<your-hostname>"

# To authorize telgraf to access to /run/docker.sock set host docker gid
# Find docker gid with: stat -c '%g' /var/run/docker.sock
DOCKER_GID=998

# Influxdb 2
INFLUXDB2_INIT_ORG="<organization>"
INFLUXDB2_INIT_BUCKET="telegraf"
# Token Telegraf
INFLUXDB2_TELEGRAF_TOKEN='<your-Telegraf-token-from-influxdb2-interface>'

