<div class="row row-0">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-sm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Bienvenue sur Silene Expert</h2>
			</div>
			<div class="panel-body">
				<div class="frieze-silene-container mb-3">
					<img
						class="frieze-silene"
						src="custom/images/frieze-silene.webp"
						alt="Silene - Connaître, partager, conserver"
					/>
					<h3 class="motto-silene">Connaître, partager, conserver</h3>
				</div>

				<p>
					Silene est <strong>la plateforme régionale du SINP de
					Provence-Alpes-Côte d’Azur</strong>. Silene Expert est dédié
					aux utilisateurs expérimentés (services de l’État, collectivités,
					associations, bureaux d’études, naturalistes avertis, etc.)
					et a pour objectif <strong>l’accès à l’information naturaliste
					géolocalisée</strong>.
				</p>

				<p>
					Les données mises à disposition reflètent l’état
					d’avancement des connaissances ou la disponibilité des
					inventaires et <strong>ne peuvent être considérées comme
					exhaustives</strong>.
				</p>

				<p>
					Pour en savoir plus sur l’organisation, les données, la
					façon de contribuer ou les actualités vous pouvez consulter
					<a href="https://silene.eu/" target="_blank">
						le site dédié à la démarche Silene
					</a>.
				</p>

				<p>
					Le Conservatoire d’espaces naturels de Provence-Alpes-Côte
					d’Azur et les Conservatoires botaniques nationaux
					méditerranéen de Porquerolles et alpin, en tant que
					membres fondateurs de Silene accompagnent techniquement et
					scientifiquement le projet.
				</p>

				<p>
					Si vous souhaitez accéder aux observations
					géo-confidentielles (jeux de données privées avec niveaux de
					diffusion, observations sensibles), vous devez accepter
					électroniquement une convention ponctuelle à l'aide du
					<a routerLink="/permissions/requests/add">
						formulaire de demande de droits d'accès aux observations
						confidentielles (sensibles et privées)
					</a>.
				</p>

				<p>
					La version actuelle de Silene Expert correspond à une première
					version, elle fera l'objet d'une amélioration continue. Afin de
					vous orienter dans la prise en main des fonctionnalités de
					Silene Expert, nous vous invitons à
					<a href="https://silene.eu/foire-aux-questions" target="_blank">
						consulter la Foire Aux Questions
					</a>.
				</p>
			</div>
		</div>
	</div>
</div>
