<div class="row row-0">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-sm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Bienvenue sur Silene Expert</h2>
			</div>
			<div class="panel-body">
				<p>
					Silene Expert est <strong>la plateforme régionale du SINP de Provence-Alpes-Côte d’Azur</strong>
					dédiée aux utilisateur expérimenté (services de l’État, collectivités, associations, bureaux
					d’études, naturalistes avertis, etc.) qui a pour objectif
					<strong>l’accès à l’information naturaliste géolocalisée</strong>.
				</p>

				<p>
					Les données mises à disposition reflètent l’état d’avancement des connaissances ou la disponibilité
					des inventaires et <strong>ne peuvent être considérées comme exhaustives</strong>.
				</p>

				<p>
					Pour en savoir plus sur l’organisation, les données, la façon de contribuer our les actualités
					vous pouvez consulter <a href="https://cms.silene.eu/">le site dédié à la démarche Silene</a>.
				</p>

				<p>
					Le Conservatoire d’espaces naturels de Provence-Alpes-Côte d’Azur et les Conservatoires botaniques
					nationaux méditerranéen de Porquerolles et alpin et en tant que membres fondateurs de Silene
					accompagnent techniquement et scientifiquement le projet.
				</p>
			</div>
		</div>
	</div>
</div>
