footer.footer {
	background-color: #dce3e7;
	border-top: none;
}
footer .panel-body {
	text-align: center;
}
.logos .img-thumbnail {
	margin: .25rem;
}
.logos .img-thumbnail:hover {
	background-color: #dce3e7;
	border-color: #A10D59;
}
