<footer class="container footer">
	<div>
		<a href="http://cen-paca.org/" target="_blank" title="Accéder au site du CEN PACA">
			<img src="custom/images/logo-cenpaca.png" alt="Logo CEN-PACA" />
		</a>
		<a href="http://www.cbnmed.fr/" target="_blank" title="Accéder au site du CBN Méditerranéen">
			<img src="custom/images/logo-cbnmed.png" alt="Logo CBN Méditerranéen" />
		</a>
		<a href="https://cbn-alpin.fr/" target="_blank" title="Accéder au site du CBN Alpin">
			<img src="custom/images/logo-cbna.png" alt="Logo CBN Alpin" />
		</a>
	</div>

	<div id="clear">
		<p class="text-muted">
			Silene - Expert / SINP PACA, 2020
			<br/>
			Réalisé avec <a href="https://github.com/PnX-SI/GeoNature" target="_blank">GeoNature</a>,
			déployé par le <a href="https://cbn-alpin.fr" target="_blank">Conservatoire Botanique National Alpin (CBNA)</a>
		</p>
	</div>
</footer>
