    <footer class="footer">
        <p>
            <a href="{{url_for('main.index')}}">
				Accueil
			</a> |
			<a href="https://silene.eu/" target="_blank">
				Site du {{configuration.STRUCTURE}}
			</a> |
			<a data-toggle="modal"
				href="{{url_for('static', filename='custom/templates/credits.html') }}"
				data-target="#modalCredits">
				Conception et crédits
			</a> |
			<a data-toggle="modal"
				href="{{url_for('static', filename='custom/templates/mentions-legales.html') }}"
				data-target="#modalMentions">
				Mentions légales
			</a>
        <p>

		<p class="logos">
			<a href="http://cen-paca.org/"
				target="_blank"
				title="Accéder au site du CEN PACA">
				<img class="img-thumbnail"
					src="{{url_for('static', filename='custom/images/logo-cenpaca.png') }}"
					alt="Logo CEN-PACA" />
			</a>
			<a href="http://www.cbnmed.fr/"
				target="_blank"
				title="Accéder au site du CBN Méditerranéen">
				<img class="img-thumbnail"
					src="{{url_for('static', filename='custom/images/logo-cbnmed.png') }}"
					alt="Logo CBN Méditerranéen" />
			</a>
			<a href="https://cbn-alpin.fr/"
				target="_blank"
				title="Accéder au site du CBN Alpin">
				<img class="img-thumbnail"
					src="{{url_for('static', filename='custom/images/logo-cbna.png') }}"
					alt="Logo CBN Alpin" />
			</a>
		</p>

		<p>
			Autres administrateurs de Silene :
		</p>
		<p class="logos">
			<a	href="http://www.paca.developpement-durable.gouv.fr/"
				target="_blank"
				title="Accéder au site de la DREAL PACA">
				<img class="img-thumbnail"
					src="{{url_for('static', filename='custom/images/logo-dreal.png') }}"
					alt="Logo DREAL PACA" />
			</a>
			<a	href="https://www.maregionsud.fr/"
				target="_blank"
				title="Accéder au site de la Région Sud Provence-Alpes-Côte d’Azur">
				<img class="img-thumbnail"
					src="{{url_for('static', filename='custom/images/logo-region-sud.png') }}"
					alt="Logo Région Sud" />
			</a>
			<a	href="https://ofb.gouv.fr/"
				target="_blank"
				title="Accéder au site de l'Office Français de la Biodiversité">
				<img class="img-thumbnail"
					src="{{url_for('static', filename='custom/images/logo-ofb.png') }}"
					alt="Logo OFB" />
			</a>
		</p>

        <div id="clear">
            <p class="text-muted">
                {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}, 2019-2021
                <br/>
				Réalisé avec <a href="https://github.com/PnX-SI/GeoNature-atlas" target="_blank">GeoNature-atlas</a>,
				déployé par le <a href="https://cbn-alpin.fr/" target="_blank">Conservatoire Botanique National Alpin (CBNA)</a>
            </p>
        </div>
    </footer>

    <div class="modal fade text-center" id="modalCredits">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
					{% include 'static/custom/templates/credits.html' %}
        </div>
      </div>
    </div>

    <div class="modal fade text-center" id="modalMentions">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
					{% include 'static/custom/templates/mentions-legales.html' %}
        </div>
      </div>
    </div>

    {% if configuration.ID_GOOGLE_ANALYTICS != "UA-xxxxxxx-xx" %}
    <!-- Script Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{configuration.ID_GOOGLE_ANALYTICS}}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
		var u="//analytics.silene.eu:443/";
		_paq.push(['setTrackerUrl', u+'matomo.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
