<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">X</button>
	<h1>MENTIONS LÉGALES</h1>
</div>

<div class="modal-body credits">
	<p class="lead">
		Vous êtes sur le site officiel de Silene, plateforme régionale du Système
		d'information de l'INventaire du patrimoine naturel (SINP) de la région
		Provence-Alpes-Côte d’Azur. Ce site a pour objectif de permettre la
		visualisation des données d’occurrences pour les taxons de faune et de
		flore de Provence-Alpes-Côte d’Azur.
	</p>
	<address>
		Adresse : <strong>CEN PACA</strong><br/>
		Atrium bâtiment B<br/>
		4 avenue Marcel Pagnol 13 100 Aix en Provence
	<abbr title="Téléphone">Tél. :</abbr> 04 42 20 03 83
	</address>


	<h3>Responsable de publication</h3>
	<p>
		<strong>Directeur de la publication, responsable légal</strong> :
		Henri Spini Président du CEN PACA
	</p>

	<h3>Réalisation du site Internet</h3>
	<p>
		Le contenu éditorial et, sauf mention particulière, les productions
		photographiques, sont réalisés par l’équipe éditoriale constituée du
		Conservatoire d’espaces naturels de PACA, du Conservatoire Botanique
		National Alpin (CBNA), du Conservatoire Botanique National Méditerranéen
		(CBNMed) et de la DREAL PACA.
	</p>
	<p>
		La conception technique est effectuée par le Conservatoire Botanique
		National Alpin (CBNA).
	</p>


	<h3>Serveurs et hébergements</h3>
	<address>
		<strong>Société OVH</strong>, RCS Roubaix-Tourcoing B 424 761 419<br/>
		2, rue Kellerman, 59100 Roubaix
	</address>


	<h3>Traitement et protection des données</h3>
	<p>
		Les données personnelles diffusées sur le site Silene Nature via les
		données naturalistes (nom de l’observateur, date et lieu) résultent
		de la communication volontaire du fournisseur lors de l'envoi de ses
		données auprès de la plateforme Silene.<br/>
		Vous disposez d'un droit d'accès, de modification, de rectification
		et de suppression des données qui vous concernent (art. 34 de la loi
		"Informatique et Libertés").<br/>
		Vous pouvez l'exercer par courriel en le précisant lors de votre
		demande : <a href="mailto:contact@silene.eu">contact@silene.eu</a>
	</p>


	<h3>Établissements de liens</h3>
	<p>
		<strong>
			Lien depuis des sites tiers vers
			<a href="https://nature.silene.eu/">https://nature.silene.eu/</a> :
		</strong>
		le CEN PACA autorise la mise en place d'un lien hypertexte depuis
		n'importe quel site Internet (sous réserve d'une information préalable),
		à l'exclusion de ceux diffusant des informations à caractère polémique,
		pornographique, xénophobe ou pouvant, dans une plus large mesure porter
		atteinte à la sensibilité du plus grand nombre. Le site doit apparaître
		dans une nouvelle fenêtre. Les pages du site ne doivent en aucun cas
		être intégrées à l'intérieur des pages d'un autre site (Frame ou iframe).
		Dans tous les cas, la DREAL PACA se réserve le droit de demander la
		suppression d'un lien si elle estime que le référent (site source) ne
		respecte pas les règles ainsi définies.
	</p>
	<p>
		<strong>
			Lien depuis
			<a href="https://nature.silene.eu/">https://nature.silene.eu/</a>
			vers des sites tiers :
		</strong>
		le CEN PACA et l’équipe éditoriale se réserve
		le droit de "pointer" vers des sites tiers. Accéder à ces liens ne
		vous fait pas quitter
		<a href="https://nature.silene.eu/">https://nature.silene.eu/</a>.
		Les sites cibles ne sont pas sous le contrôle de l’équipe éditoriale,
		par conséquent elle n'est pas responsable du contenu de ces sites,
		des liens qu'ils contiennent, ni des changements ou mises à jour qui
		leur sont apportés.
	</p>


	<h3>Diffusion des données</h3>
	<p>
		La diffusion des données se fait conformément à
		<a href="https://silene.eu/charte-et-conventions#charte-silene" target="_blank">
			la charte Silene
		</a>, document de référence reconnu pour les fournisseurs de données.
		<br/>
		En utilisant le site, vous reconnaissez avoir pris connaissance de
		la charte et l’avoir acceptée. Celle-ci pourra être modifiée à tout
		moment et sans préavis.
	</p>
	<p>
		Silene Nature présente l'ensemble des observations mises à dispositions
		par les adhérents du SINP et des fournisseurs par obligations synthétisées
		à la maille. Certaines données, qualifiées de sensibles ou privées
		peuvent ne pas être communiquées dans le respect des articles suivants
		du code de l’environnement :
	</p>
	<p>
		L'article L311-5 du code des relations entre le public et l’administration
		précise les documents qui ne sont pas communicables :<br/>
		Ne sont pas communicables les documents administratifs dont la
		consultation ou la communication porterait atteinte à (…) et aux cas
		définis à l'article L. 124-4 du code de l'environnement :
	</p>
	<blockquote>
		<p>
			I.-Après avoir apprécié l'intérêt d'une communication, l'autorité
			publique peut rejeter la demande d'une information relative à
			l'environnement dont la consultation ou la communication porte
			atteinte :<br/>
			(...)<br/>
			2° A la protection de l'environnement auquel elle se rapporte ;<br/>
			3° Aux intérêts de la personne physique ayant fourni, sans y être
			contrainte par une disposition législative ou réglementaire ou par
			un acte d'une autorité administrative ou juridictionnelle, l'information
			demandée sans consentir à sa divulgation ;<br/>
			(...)
		</p>
		<footer><cite>Article L124-4 du code de l'environnement</cite></footer>
	</blockquote>
	<blockquote>
		<p>
			« I.-Le rejet d'une demande d'information relative à l'environnement
			est notifié au demandeur par une décision écrite motivée précisant
			les voies et délais de recours (...). »
		</p>
		<footer><cite>Article L.124-6 du code de l’environnement</cite></footer>
	</blockquote>


	<h3>Modalités de réutilisation des informations</h3>
	<p>
		L’utilisation des données se fait conformément à
		<a href="https://silene.eu/charte-et-conventions#charte-silene" target="_blank">
			la charte Silene
		</a>, document de référence reconnu pour les fournisseurs de données.
		En utilisant le site, vous reconnaissez avoir pris connaissance de
		la charte et l’avoir acceptée. Celle-ci pourra être modifiée à tout
		moment et sans préavis.
	</p>
	<blockquote>
		<p>
			« Les informations publiques figurant dans des documents communiqués
			ou publiés par les administrations mentionnées au premier alinéa de
			l'article L. 300-2 peuvent être utilisées par toute personne qui le
			souhaite à d'autres fins que celles de la mission de service public
			pour les besoins de laquelle les documents ont été produits ou reçus.
			<br/>
			Les limites et conditions de cette réutilisation sont régies par le
			présent titre. »
		</p>
		<footer>
			<cite>
				Article L321-1 du code des relations entre le public et l’administration
			</cite>
		</footer>
	</blockquote>

	<blockquote>
		<p>
			« Sauf accord de l'administration, la réutilisation des informations
			publiques est soumise à la condition que ces dernières ne soient pas
			altérées, que leur sens ne soit pas dénaturé et que leurs sources et
			la date de leur dernière mise à jour soient mentionnées. »
		</p>
		<footer>
			<cite>
				Article L322-1 du code des relations entre le public et l’administration
			</cite>
		</footer>
	</blockquote>
	<p>
		Consulter également
		<a href="https://silene.eu/charte-et-conventions#charte-silene" target="_blank">
			la charte Silene</a>.
	</p>

	<h3>Dispositions légales - Propriété</h3>
	<p>
		Le fait d'accéder au site ne donne pas le droit de l'utiliser sans
		l'accord de l’équipe éditoriale : tous les droits de reproduction
		sont réservés en vertu de l'article L.122-4 du code de la Propriété
		intellectuelle.
	</p>
	<p>
		Toute utilisation des ressources (photographiques, iconographiques,
		textuelles ou relatives à la forme, la mise en page, la structure, les
		logotypes et les documents téléchargeables...) présentes sur ce site
		doit faire l'objet d'une autorisation expresse de l’équipe éditoriale.
	</p>
	<p>
		À titre principal, l’équipe éditoriale concède une autorisation de
		visualisation du contenu du site.
	</p>


	<h3>Responsabilité</h3>
	<p>
		La plate-forme Silene met tout en œuvre pour assurer une information
		fiable et une mise à jour fiable de ses sites internet. Toutefois,
		des erreurs ou omissions peuvent survenir. Silene ne peut garantir
		l’exhaustivité de l’information. La DREAL décline donc toute
		responsabilité en cas d'erreur ou d'omission.
	</p>
	<p>
		L’utilisateur devra donc s'assurer de l'exactitude des informations
		et signaler toutes modifications du site qu'il jugerait utile.
	</p>
	<p>
		Silene n'est en aucun cas responsable de l'utilisation faite de ces
		informations, et de tout préjudice direct ou indirect pouvant
		en découler.
	</p>
	<p>
		L’équipe éditoriale se réserve le droit de modifier, tout ou partie
		des informations contenues dans les pages de ce site Internet, à tout
		moment et sans notification préalable.
	</p>
	<p>
		Il appartient à l'utilisateur de ce site de prendre toutes les
		mesures appropriées de façon à protéger ses propres données et/ou
		logiciels de la contamination par d'éventuels virus circulant sur le
		réseau Internet. De manière générale, la DREAL PACA décline toute
		responsabilité à un éventuel dommage survenu pendant la consultation
		du présent site.
	</p>
</div>
