[Unit]
Description=GeoNature Atlas
After=network.target

[Service]
Type=simple
User=geonat
Group=geonat
WorkingDirectory=/home/geonat/www/atlas/
Environment=GUNICORN_PROC_NAME=geonature-atlas
Environment=GUNICORN_NUM_WORKERS=4
Environment=GUNICORN_HOST=127.0.0.1
Environment=GUNICORN_PORT=8080
Environment=GUNICORN_TIMEOUT=30
EnvironmentFile=-/home/geonat/www/atlas/environ
ExecStart=/home/geonat/www/atlas/venv/bin/gunicorn atlas.wsgi:app \
                --name "${GUNICORN_PROC_NAME}" --workers "${GUNICORN_NUM_WORKERS}" \
                --bind "${GUNICORN_HOST}:${GUNICORN_PORT}" --timeout="${GUNICORN_TIMEOUT}"
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=10
TimeoutStopSec=5
PrivateTmp=true
StandardOutput=append:/var/log/geonature-atlas.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
